# Case 1 - Call Center Staffing Analytics - Detecting Favoritism using Machine Learning
## Situation: 
A call center operation was under close scrutiny for uneven performance,
shoddy operations and low employee morale. There was a rumor floating around that
the call center manager was engaging in favoritism, that certain employees were given
unfairly easy working conditions, but no one was able to present a convincing case
against the manager.
## Complication: 
Some even went so far as to accuse the manager of nepotism --
implying that the workers being given extra sweet deals were those that were related to
the manager. The case was before a judge who, given the seriousness of the case,
asked for hard evidence.
## Key question:
Can we use machine learning to ‘objectively’ identify whether there is
any hard evidence to prove that certain employees were being treated in a
systematically different way than others. Can we do this using not one, but multiple
dimensions, together?

# start your analysis

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import LocalOutlierFactor
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("call-center.csv")
df.describe()

,Employee ID,Avg Tix / Day,Customer rating,Tardies,Graveyard Shifts Taken,Weekend Shifts Taken,Sick Days Taken,% Sick Days Taken on Friday,Employee Dev. Hours,Shift Swaps Requested,Shift Swaps Offered
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,137946.037500,156.085750,3.495150,1.465000,1.985000,0.952500,1.875000,35.220000,11.970000,1.447500,1.760000
std,4240.877417,4.416638,0.461497,0.972697,0.794577,0.548631,1.673732,39.295061,7.470852,0.999872,1.812626
min,130564.000000,143.100000,2.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,134401.500000,153.075000,3.210000,1.000000,1.000000,1.000000,0.000000,0.000000,6.000000,1.000000,0.000000
50%,137906.500000,156.050000,3.505000,1.000000,2.000000,1.000000,2.000000,25.000000,12.000000,1.000000,1.000000
75%,141771.250000,159.100000,3.810000,2.000000,2.000000,1.000000,3.000000,67.000000,17.000000,2.000000,3.000000
max,145176.000000,168.700000,4.810000,4.000000,4.000000,2.000000,7.000000,100.000000,34.000000,5.000000,9.000000

In [ ]:
# Normalize the data
scaler = StandardScaler()
call_center_scaled = pd.DataFrame(scaler.fit_transform(call_center.iloc[:, 1:11]), columns=call_center.columns[1:11])

In [ ]:
# Calculate the outlier scores using LocalOutlierFactor (similar to LOF in R)
lof = LocalOutlierFactor(n_neighbors=5)
outlier_scores = -lof.fit_predict(call_center_scaled)

In [ ]:
# Plot score density
sns.kdeplot(outlier_scores)
plt.show()

In [ ]:
# Filter rows with high outlier scores
outliers = call_center[outlier_scores > 1.5]
print(outliers)